<div class="container">
    <div *ngFor="let event of events">
      <md-card>
        <md-card-title>{{ event.title__c }}</md-card-title>
        <md-card-subtitle>{{ event.status__c }}</md-card-subtitle>
        <md-card-content>
          <p>Starts: {{ event.start_time__c | date: 'short'}}</p>
          <p>Ends: {{ event.end_time__c | date: 'short'}}</p>
          <p>{{ event.available_seats__c }} out {{ event.registration_limit__c }} seats remaining!</p>
        </md-card-content>
        <md-card-actions>
          <a md-raised-button routerLink=".">Details</a>
        </md-card-actions>
      </md-card>
    </div>
</div>
