
<div class="flex-container"
     fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="15px"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start">
  <md-card class="flex-item" fxFlex="30%" fxFlex.xs="80%" tabindex="0" *ngFor="let event of events">
    <md-card-title-group>
      <md-card-title>{{ event.name }}</md-card-title>
      <md-card-subtitle>{{ event.status__c }}</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <p>Starts: {{ event.start_time__c | date: 'short'}}</p>
      <p>Ends: {{ event.end_time__c | date: 'short'}}</p>
      <p>{{ event.available_seats__c }} out {{ event.seat_limit__c }} seats remaining!</p>
    </md-card-content>
    <md-card-actions>
      <a md-raised-button [routerLink]="['/events', event.id]">Details</a>
    </md-card-actions>
  </md-card>
</div>
