<div class="container">
  <md-card>
    <md-card-title-group>
      <md-card-title>{{ details.name }}</md-card-title>
      <md-card-subtitle>From {{ details.start_time__c | date: 'short' }} until {{ details.end_time__c | date: 'short' }}</md-card-subtitle>
      <md-card-subtitle>{{ details.status__c }} {{ details.available_seats__c }} out of {{ details.seat_limit__c }} seats remaining!</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <md-card-title>Description</md-card-title>
      <div [innerHtml]="details.description__c"></div>
      <md-card-title>Sessions</md-card-title>
      <ul>
        <li *ngFor="let session of sessionDetails">
            {{ session.name }} - From {{ session.start_time__c | date: 'short' }} until {{ session.end_time__c | date: 'short' }}. {{ session.available_seats__c }} out of {{ session.registration_limit__c }} seats remaining!
        </li>
      </ul>
    </md-card-content>
    <md-card-actions>
      <a md-raised-button *ngIf="details.status__c == 'Open'" [routerLink]="['/register', details.id]">Register</a>
    </md-card-actions>
  </md-card>
</div>
