<div class="container">
  <md-card>
    <md-card-title>Registering for {{ details.name }}</md-card-title>
    <form class="full-width" [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
      <table class="full-width" cellspacing="0"><tr>
      <td><md-input-container class="full-width">
        <input mdInput formControlName="firstName" placeholder="First name">
      </md-input-container></td>
      <td><md-input-container class="full-width">
        <input mdInput formControlName="lastName" placeholder="Last Name">
      </md-input-container></td>
      </tr></table>
      <md-input-container class="full-width">
        <input mdInput formControlName="email" type="email" placeholder="Email Address">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput formControlName="phoneNumber" placeholder="Phone Number">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput formControlName="companyName" placeholder="Company">
      </md-input-container>
      <md-card-title>Which session(s) do you want to attend?</md-card-title>
      <section class="full-width">
        <md-checkbox
            [labelPosition]="after"
            formControlName=sessions
            value="{{session.id}}"
            [(ngModel)]="session.checked"
            *ngFor="let session of sessionDetails">
          {{session.name}} from {{session.start_time__c | date: 'short'}} to {{session.end_time__c | date: 'short'}}
        </md-checkbox>
      </section>
      <br>
      <br>
      <button md-raised-button type="submit" [disabled]="!form.valid">Submit</button>
    </form>
  </md-card>
</div>
